/**** Sass Variables ****/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'satisfy';
  text-align: center;
  background-image: url(../images/BG\ About.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding-top: 90px;
  color: #000000;
}

.greeting {
  font-family: 'Satisfy';
  font-size: medium;
  font-weight: normal;
  color: black;
}

.container {
  margin-top: 6vh;
  margin-bottom: 10vh;
  margin-left: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
  font-size: 15x;
}

.cell-2 {
  grid-column: 2/3;
  padding: 0;
}

.cell-4 {
  grid-column: 1/2;
  padding: 0;
}

.cell-5 {
  grid-column: 2/3;
  padding: 0;
}

.cell-6 {
  grid-column: 3/4;
  padding: 0;
}

.cell-7 {
  grid-column: 1/2;
  padding: 0;
}

.cell-8 {
  grid-column: 2/3;
  padding: 0;
}

.cell-9 {
  grid-column: 3/4;
  padding: 0;
}

.card-wrapper {
  width: 250px;
  height: 350px;
  position: relative;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  left: 60%;
  width: 250px;
  height: 300px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
  
  .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
  }
  
  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all .9s;
}

/**** Social Icons *****/

ul.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-wrap: nowrap;
}

  li {
    list-style: none;
  }

  a {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-weight: normal;
    margin: 0 15px;
    transition: .5s;
    transform: translateY(200px);
    opacity: 0;
  }
  
  

.card:hover ul.social-icons li a {
  transform: translateY(0px);
  opacity: 1; 
}

ul.social-icons li a:hover .fa-brands {
  background: #000;
  transition: .2s;
}

.fa-message .fa-instagram .fa-twitter .fa-linkedin {
  color: #fff;
} 

ul.social-icons li a .fa-brands {
  transition: .8s;
}
  
&:hover {
    transform: rotateY(360deg);
    color: #fff;
} 

.card:hover ul.social-icons li:nth-child(1) a {
  transition-delay: 0.1s;
}
.card:hover ul.social-icons li:nth-child(2) a {
  transition-delay: 0.2s;
}
.card:hover ul.social-icons li:nth-child(3) a {
  transition-delay: 0.3s;
}
.card:hover ul.social-icons li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 30px;
}

h2 {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  margin: 0 0;
  padding: 0;
  text-align: center;
}

.job-title {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

.jane {
  position: relative;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 10px;
  transition: .4s;
}

.profile-two .social-icons ul li a {
  border-radius: 50%;
}

.card:hover .profile-image--two {
  transform: rotateY(180deg);
}

.card:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}


