/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-columns: "sidebar content";
    grid-gap: 20px;
}

.sidebar {
    height: 100%;
    width: 180px;
    grid-area: sidebar;
    background-image: url(../images/navbar-background.png);
    background-size: cover;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
}

.sidebar .home {
    text-align: center;
    margin-bottom: 25px;
  }

.sidebar h1 a{
  display: inline-block;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 20px;
}
  
.sidebar li {
    margin-bottom: 10px;
}
  
.sidebar li:hover {
    background-color: #ddd;
    color: white;
}
  
.sidebar button {
    display: block;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #61A4C9;
    font-size: 0.9375em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.sidebar button:hover {
    background-color: #ddd;
  }

.content {
    grid-area: content;
  }

main {
    margin-left: 10px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

#wedding {
    text-align: right;
}

.wedding {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(4, 1fr);
    grid-gap: 56px 40px;
    margin: 40px; */
    padding: 0 4px;
}

.wedding figure {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    /* margin: 0;
    overflow: hidden;
    box-shadow: 0 0 8px rbga(0, 0, 0, 0.1); */
}

.wedding img {
    width: 100%;
    height: 100%;
    margin-top: 8px;
    display: block;
    transition: transform 0.2s;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.wedding figure:hover img {
    transform: scale(1.1)
}

.package{
  text-align: justify;
  margin: auto;
}

.gathering{
  text-align: justify;
  margin: auto;
}

.birthday{
  text-align: justify;
  margin: auto;
}

img{
    width: 100%;
}

.content h1 {
  font-family: Arvo;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 20px;
}

.content p {
  font-family: 'Times New Roman';
  font-size: 17px;
  line-height: 25px;
}

/* Style the footer as a horizontal grid with 3 columns */
footer {
    background-color: #1c3848;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* Style each column in the footer */
  .footer-column {
    padding: 0 10px;
    border-right: 1px solid #555;
  }
  
  /* Remove the border from the last column */
  .footer-column:last-child {
    border-right: none;
  }
  
  .media-social a{
    text-align: center;
    font-size: 25px;
    width: 30px;
    height: 30px;
    margin-inline: 10px;
    color: #ffffff;
  }

  /* Media query for tablets */
@media screen and (min-width: 600px) {
    .container {
      grid-template-columns: 200px 1fr;
      grid-template-areas: "sidebar content";
    }
  }
  
  /* Media query for smartphones */
  @media screen and (max-width: 599px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas: "content";
    }
  
    /* Hide the sidebar on smaller screens */
    .sidebar {
      display: none;
    }
  }