@font-face {
  font-family: Broken\ Knight\ DEMO;
  src: url(./Fonts/Broken\ Knight\ DEMO.ttf);
}



/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the body */
body {
  background-color: #ffffff;
  background-image: url(./images/17580.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../images/17580.jpg);
  font-family: Arial, sans-serif;
  background-size: cover;
  background-attachment: fixed;
}

/* Create a grid layout */
.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "sidebar content";
  grid-gap: 20px;
}

/* Style the sidebar (navbar) */
.sidebar {
  grid-area: sidebar;
  height: 100%;
  width: 180px;
  grid-area: sidebar;
  background-image: url(../images/navbar-background.png);
  background-size: cover;
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar li:hover {
  background-color: #ddd;
  color: white;
}

.sidebar h1 {
  text-align: center;
  margin-bottom: 25px;
}

.sidebar button {
  display: block;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  text-align: center;
  background-repeat: no-repeat;
  background-color: #61A4C9;
  background-position: 95% center;
  background-size: 10px;
  font-size: 0.9375em;
  cursor: pointer;
  overflow: visible;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #ddd;
}


/* Style the content area */
.content {
  grid-area: content;
}

/* Style the header */
header {
  margin-left: 60px;
  font-family: Broken\ Knight\ DEMO;
  
  color: rgb(5, 5, 5)000;
  text-align: left;
  padding-top: 50px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 15px;
}





/* Image Main Content */
.main-content {
  display: grid;
  grid-area: main-content;
  grid-template-rows:     140px 140px 140px 140px 140px;
  grid-template-columns:  140px 140px 140px 140px 140px 140px 140px 140px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.content-box {
  grid-row: 1/4;
  grid-column: 2/7;
  
}


.img {
  grid-row: 1 / 4;
  grid-column: 2 / 6;
  padding: 0px 20px 20px 20px;
  
  
}

.img img {
  width: 100%;
  height: 100%;
}

.user-input-mid1 {
  grid-area: checkin;
  padding: 20px;
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  background-color: #ececec;
}

.background-mid1 {
  grid-column: 6/8;
  grid-row: 5/6;
  padding: 0px 20px 20px 20px;
  background-color: #ececec;
}

.background-mid1 h3 {
  margin-top: 15px;
  margin-bottom: 0;
}

.order-btn {
  display: block;
  border-radius: 0%;
  border-width: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #488BB1;
  color:#ddd;
  
}

.order-btn:hover {
  background-color:#ffffff;
  color:#488BB1;
}

.user-input-mid2 {
  grid-area: adult;
  padding: 0px 0px 20px 20px;
  grid-column: 6 / 7;
  grid-row: 2 / 3;
  background-color: #ececec;
}

.user-input-mid3 {
  grid-column: 6/8;
  grid-row: 3/4;
  padding: 0px 20px 20px 20px;
  background-color: #ececec;
}

.user-input-mid4 {
  grid-column: 6/8;
  grid-row: 4/5;
  padding: 20px 20px 0px 20px;
  background-color: #ececec;
}

.user-input-right1 {
  grid-template-areas: checkout;
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  padding-top: 82px;
  /* padding-bottom: 38.5%; */
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ececec;
}

.user-input-right2 {
  grid-template-areas: children;
  padding: 0px 20px 20px 20px;
  grid-column: 7 / 8;
  grid-row: 2 / 3;
  background-color: #ececec;
  
  /* padding-bottom: 38.5%; */
  padding-left: 20px;
  padding-right: 20px;
}

.label-check {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.first-name {
  margin-top: 20px;
  grid-column: 5/6;
  grid-row: 1/2;
}

.check-in{
  
  /* margin-top: 20px; */
  grid-column: 5/6;
  grid-row: 2/3;
}

.check-in-box {
  border-radius: 0%;
  border-width: 1px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.check-out-box {
  border-radius: 0%;
  border-width: 1px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}


.adults {
  margin-top: 20px;
  
  grid-column: 5 / 6;
  grid-row: 2 / 3;
} 

.adults-box {
  border-radius: 0%;
  border-width: 1px;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.childrens {
  padding-top: 20px;
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

.room {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
}

.room-box {
  border-radius: 0%;
  border-width: 1px;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.room-btn {
  border-radius: 0%;
}

.address {
  padding-top: 15px;
}

.bukti-tf {
  padding-top: 20px;
}

.desc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-size: medium;
  grid-column: 2/6;
  grid-row: 4/5;
  padding: 20px;
  line-height: 25px;
}


/* Style the footer as a horizontal grid with 3 columns */
footer {
  background-color: #1c3848;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Style each column in the footer */
.footer-column {
  padding: 0 10px;
  border-right: 1px solid #555;
}

/* Remove the border from the last column */
.footer-column:last-child {
  border-right: none;
}

.media-social a{
  text-align: center;
  font-size: 25px;
  width: 30px;
  height: 30px;
  margin-inline: 10px;
  color: #ffffff;
}