@charset "utf-8";
/* Header */
h1{
  margin-bottom: 25px;
  text-align: center;
  color: #ffffff;
}
h2{
  text-align: center;
  color: #ffffff;
}

/* Style the side navigation */
.side-navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: #111;
  background-image: url("./images/navbar-background.png");
  overflow-x: hidden;
}

.side-navbar a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.order-style{
  text-align: center;
	padding:5px 15px;
	text-decoration:none;
	color:#fff;
  font-family: VERDANA;
}

/* Change color on hover */
.col-8 a:hover {
  background-color: #ddd;
  color: white;
}
  
/* Style the content */
.content {
  margin-left: 200px;
}

.images{
  /* margin-inline-start: 250px; */
  width: 336px;
  aspect-ratio: auto 336 / 224;
  overflow-clip-margin: content-box;
  overflow: clip;
  text-align: center;
  cursor: pointer;
}

/* Main */
body{
	background-color: #ffffff;
  background-image: url(./images/background.jpg);
}


/* Footer */
.footer2{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #363434;
	padding:25px;
	color:#FFFFFF;
  text-align: center;
}

.facebook{
  color: white;
}

.instagram{
color: white;
}

.mail{
color: white;
}

/*micro clearfix*/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}