@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body{
	margin:0 0 0 0;
	font-family:calibri;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 33%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container{
	width:100%;
	margin:0 auto;
}

/* Header */
h1{
    text-align: center;
    color: #ffffff;
}
h2{
    text-align: center;
    color: #ffffff;
}
/* Style the side navigation */
.side-navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: #111;
    background-image: url("./images/navbar-background.png");
    overflow-x: hidden;
  }
  
  /* Side navigation links */
  .side-navbar a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .side-navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

/* .home-style{
	float:left;
	padding:5px 15px;
	text-decoration:none;
	color:#fff;
	font-family: VERDANA;
}
.menu-style{
	float:left;
	padding:5px 15px;
	text-decoration:none;
	color:#fff;
	font-family: VERDANA;
}
.menu-style:hover{
	color: #2E8B57;

}  */
.order-style{
	padding:5px 15px;
	text-decoration:none;
	color:#fff;
    font-family: VERDANA;
}

/* Main */
body{
	background-color: #ffffff;
    background-image: url(./images/background.jpg);
}
.image{
	height: 350px;
	background-image: url(imageweb.jpg);
	background-size: cover;
	background-position: 0 -230px;
}
*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/* Footer */

.footer2{
	background:#292929;
	padding:25px;
	text-align:center;
	color:#FFFFFF;
}
.name{
    border-right: solid;
    border-width: 1px;
}
.facebook .instagram .mail{
    color: white;
}

/*micro clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}